extends layout

block content
  h1= title

  if user
    form(method='POST' action='/log-out')
      button.btn.btn-primary(type='submit') Log out

    if user.clubMember 
      p You are a club member. This enables you to see post author and post date

    if !user.clubMember
      form(method='POST' action='/join-club')
       label(for='userid') Not a member: 
       input#userid.form-control(type='hidden',name='userid', required='true', value=user._id )
       button.btn.btn-primary(type='submit') Join club
    


  if !user
    div#authContainer
        form(method='GET' action='/log-in')
            button.btn.btn-primary(type='submit') Log in
        form(method='GET' action='/sign-up')
            button.btn.btn-primary(type='submit') sign-up

  h2 Messages: 

  if user
    form(method='POST' action=`/message`)
      div.message-form
        label(for='messageText') Message text:
        input#messageText(type='text', placeholder='Enter the text of your message' name='messageText' required='true', maxLength=150, minLength=1)
        input#newMessageid.form-control(type='hidden',name='newMessageid', required='true', value=user._id )
        button.btn.btn-primary(type='submit') Submit
  ul
    each message in message_list
      div.posted-comment
        div.comment-text #{message.text}
        if user
            div.comment-author #{user.clubMember ? message.author.fullName : 'join club to see author'}
            div.comment-date #{user.clubMember ? message.timeSincePosted : 'join club to see post date'}
        else
          div.comment-author #{'log in and join club to see post date'}
          div.comment-date #{'log in and join club to see author'}
        if user && user.admin
          form(method='POST' action='/message-delete')
            input#messageid.form-control(type='hidden',name='messageid', required='true', value=message._id )
            button.btn.btn-primary(type='submit') Delete
    else
      p There are no messages.
